Author: Alex Tareshawty <a href="https://github.com/atareshawty/SpendingTracker">Check out the project!</a>
<script src="/javascripts/libraries/Chart.min.js"></script>
<script src="/javascripts/libraries/jquery-2.1.4.min.js"></script>
<script src="/javascripts/libraries/jquery-ui.min.js"></script>
<script src="/javascripts/libraries/fetch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script src="/javascripts/main.js"></script>
