<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome to Spending Tracker!</title>

    <script src="/javascripts/Chart.js/Chart.min.js"></script>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/primer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
  </head>
  <body>

    <div class="tabnav">
      <nav class="tabnav-tabs">
        <a href="/" class="tabnav-tab selected">Home</a>
        <a href="/users" class="tabnav-tab">Profile</a>
        <a href="/about" class="tabnav-tab">About</a>
        <a href="/users/login" class="tabnav-tab">Login</a>
        <a href="/users/signup" class="tabnav-tab">Sign Up</a>
        <a href="/users/logout" class="tabnav-tab">Logout</a>
      </nav>
    </div>
    <h1>Visualize your Spending</h1>

    {{{body}}}

  </body>
</html>
