<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column centered">
          <% include ../views/partials/tab %>
        </div>
      </div>
      <h2>Woah! You're not supposed to be here! <a href="/login">Try again</a></h2>
      <img src="https://http.cat/401" height="400" width="500">
      <footer>
        <% include ../views/partials/footer %>
      </footer>
    </div>
  </body>
</html>
