<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/head %>
</head>
<body>
  <% include ../views/partials/tab %>
  <p>Track your spending without all of the cool credit card stuff!</p>
  <footer>
    <% include ../views/partials/footer %>
  </footer>
</body>
</html>
