<h2>Login</h2>
<form action="" method="post">
  <label for='POST-username')>Username</label>
  <input id="POST-name" type="text", name='username'>
  <label for='POST-password')>Password</label>
  <input id="POST-password" type="password", name='password'>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>
