<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column centered">
          <% include ../views/partials/tab %>
        </div>
      </div>
      <h2>Login</h2>
      <% if (message.length > 0) { %>
        <p class="flash"><%=message %></p>
      <% }%>
      <form name="inputForm" id="inputForm" action="/login" method="post">
        <label for='POST-username')>Username</label>
        <input id="POST-name" type="text", name='username', placeholder="Username" autofocus>
        <label for='POST-password')>Password</label>
        <input id="POST-password" type="password", name='password', placeholder="Password">
        <input type="submit" value="Submit" class="btn btn-primary" disabled="true">
      </form>
      <footer>
        <% include ../views/partials/footer %>
      </footer>
    </div>
  </body>

  <script src="/javascripts/helpers/login.js"></script>
</html>
