<script>
  $(document).ready(function() {
    var username = $('#inputForm input[name=username]');
    var password = $('#inputForm input[name=password]');
    $('#inputForm input[name=username], #inputForm input[name=password]').on('keyup', function() {
      if (username.val().length > 0 && password.val().length > 0 && username.val().length <= 20) {
        $("input[type=submit]").attr("disabled", false);
      } else {
        $("input[type=submit]").attr("disabled", true);
      }      
    });
  });
</script>
<h2>Sign Up</h2>
<form name="inputForm" id="inputForm" action="" method="post">
  <label>Email</label>
  <input type="text", name='username', placeholder="Less than 20 characters" autofocus>
  <label>Password</label>
  <input type="password", name='password', placeholder="password">
  <input type="submit", value="Submit" class="btn btn-primary" disabled="true">
</form>
