<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../views/partials/head %>
</head>
<body>
  <% include ../views/partials/tab %>
  <div class="user-content-placeholder"></div>
  <footer>
    <% include ../views/partials/footer %>
  </footer>
</body>

<script src="/javascripts/templates.js"></script>
<script src="/javascripts/userFetch.js"></script>
<script src="/javascripts/helpers/user/transaction.js"></script>
<script src="/javascripts/helpers/user/category.js"></script>
<script src="/javascripts/helpers/user/dateFilter.js"></script>
<script src="/javascripts/data.js"></script>
</html>