<h1>{{user.username}}</h1>
<img class="avatar" src="https://avatars3.githubusercontent.com/u/9919?v=3&s=144" width="72" height="72">
<p>{{user.id}}</p>
<p>{{user.spending.length}}</p>
<canvas id="mainChart" height="200" width="200"></canvas>
<script type="text/x-handlebars-template" src="/javascripts/data.js"></script>
<a href="/">Home</a>
<a href="/logout">Logout</a>
