<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column centered">
          <% include ../views/partials/tab %>
        </div>
      </div>
      <div class="user-content-placeholder columns"></div>
      <footer>
        <% include ../views/partials/footer %>
      </footer>
    </div>
  </body>
  <script src="/javascripts/templates.js"></script>
</html>
