<script id="user-template" type="text/x-handlebars-template">
  <h1>Welcome, {{username}}!</h1>
  <canvas class="chart"></canvas>
  <table class="spending-table">
    <tr>
      <th>Cost</th>
      <th>Category</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
    {{#each spending}}
    <tr>
      <td class="cost">${{this.cost}}</td>
      <td class="category">{{this.category}}</td>
      <td class="location">{{this.location}}</td>
      <td class="date">{{this.date}}</td>
  </tr>
{{/each}}
  </table>

</script>

<div class="user-content-placeholder"></div>
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
<script src="/javascripts/fetch.js"></script>
<script src="/javascripts/userFetch.js"></script>