<h1>{{title}}</h1>
<img class="avatar" src="https://avatars3.githubusercontent.com/u/9919?v=3&s=144" width="72" height="72">
<canvas id="mainChart" width='200' height='100'></canvas>

<a href="/">Home</a>
