<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column centered">
          <% include ../views/partials/tab %>
        </div>
      </div>
      <h2><a href="/users/signup">Create an Account</a> or <a href="/users/Login">Login</a> to see your profile!</h2>

      <footer>
        <% include ../views/partials/footer %>
      </footer>
    </div>
  </body>
</html>
