body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.spending-table {
  width: 100%;
  text-align: left;
}

.label-button-padding {
  padding-top: 15px;
}

.spending-table-header {
  text-align: center;
  padding-bottom: 1%;
}

.chart {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}