<html>
<head>
<title>Welcome to Spending Tracker!</title>
<script src="/javascripts/Chart.js/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<h1>Visualize your Spending</h1>

{{{body}}}

</body>
</html>
