<html>
<head>
<title>Welcome to Spending Tracker!</title>
<script src="/javascripts/Chart.js/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<h1>Nav Bar will eventually go here</h1>

{{{body}}}

</body>
</html>
