
<p>Track your spending without all of the cool credit card stuff!</p>
<p>New to Spending Tracker? <a href="/signup">Sign up!</a></p>
<p>Already have an Account? <a href="/login">Log in!</a></p>
<p><a href="/about">About</a></p>
