extends layout

block content
  h1= title
  p Track your spending without all of the cool credit card stuff!
  p This is a #[a(href='users') sample user]
  p New to Spending Tracker? #[a(href='signup') Signup]
  p Already have an account? #[a(href='login') Login]
  p Want to learn about the author? #[a(href='about') Click here]
