extends layout

block content
  h1= title
  p Track your spending without all of the cool credit card stuff!
  p This is a #[a(href='users') sample user]
  form
        | Email:
        br
        input(type='text', name='email')
        br
        | Password:
        br
        input(type='text', name='password')
        br
        input(type='submit' value='Submit')
