extends layout

block content
  script(src="/javascripts/data.js")
  h1 Sample User
  img(src="/images/avatar.jpeg", width='250', height='300')
  p Visualize your spending
  canvas#mainChart(width='200', height='100')
