<script src="/javascripts/data.js"></script>

<h1>Sample User</h1>
<img src="/images/avatar.jpeg", width='250', height='300'/>
<canvas id="mainChart" width='200' height='100'></canvas>

<a href="/">Home</a>
